body {
  margin: 0;
}

h1 {
  margin-top: 5px;
}
.container {
  display: flex;
  flex-direction: column;
}
.imghouse {
  border: solid black 3px;
  height: 60vh;
}

.topnav {
  background-color: #333;
  display: flex;
  justify-content: center;
  padding: 14px 14px;
}

.topnav a {
  color: #fff;
  margin-right: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

.main {
  text-align: center;
  color: #333;
  font-size: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.polaroid {
  display: block;
  border: 5px solid black;
  overflow: hidden;
  width: 30%;
  border-radius: 8px; 
}

.polaroid img {
  width: 100%;
  height: 80%;
  display: block;
}

.caption {
  text-align: center;
  padding: 10px;
  border-top: 2px solid #fff;
}

.flexcolumn {
  display: flex;
  justify-content: space-evenly;
}

.polaroid:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.blog-post {
    display: flex;
    justify-content: center;
}
.blog-post img {
    border-radius: 8px; 
    margin-right: 20px; 
    border: solid white 5px;
}
