body {
    margin: 0px;
    box-sizing: content-box;
}

.topnav {
    background-color: red;
    height: calc(50px - px);
    text-align: center;
    font-size: 20px;
    font-family: "Arial";
    display: flex;
    justify-content: center;
    column-gap: 10px;
    
    border: solid 1px black;

    width: calc(100vw - 2px);
}

.margin{
    margin-top: 0px;
}

a{
    font-size: 30px;
}

a:hover {
    color: white;
    font-size: 25px;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

.left{
    text-align: left;
}

.flexi{
    display: flex;
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: red;
}

h1{
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.main {
    width: calc(100vw - 2px);
    height: calc(100vh - 50px);

}

ul{
    list-style: none ;
    padding: 0px;

}

.card { 
    justify-content: space-evenly;
    width: 20%; 
    background-color: white; 
    margin: 3%; 
    border: 1px solid; 
} 

.card-txt { 
    justify-content: space-evenly;
    text-align: center; 
    padding: 10px; 
} 
.imghouse{
    width: 100vw;
    height: 70vh;
}
.flexcolumn{
    display: flex;
    justify-content: space-evenly;
}